.arret {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}

.numbers > * {
  margin-right: 25px;
}

.number {
  text-align: center;
  width: 100px;
  background: linear-gradient(#0e3e85 0%, #0f8fd1 100%);
  border-radius: 25px;
}
